$mainFontFamily: 'Oswald',
sans-serif;
$headerFontFamily: 'Rubik Spray Paint',
sans-serif;
$titleColor: #000;

$infoBoxBg: rgba (0, 0, 0, 0.55);
$infoBoxTextColor: #fff;
$errorBoxBg: #7e2b2b;
$errorBoxColor: #fff